#formBody{
    margin: 80px auto;
    width: 95%;
    /*background-color: rgba(255,255,255,0.5);*/
    border-radius: 10px;
    min-height: 500px;
}

input, select, textarea{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-style: solid;
    border-bottom-color: yellowgreen;
    outline: none;
    border-radius: 3px;
    height: 30px;
    width: 95%;
    display: block;
    text-align: center;
    margin: auto auto 20px auto;
    font-size: 15px;
    color: #282c2f;
}

textarea {
    height: 150px;
}

a{
    text-decoration: none;
    color: #282c2f;
}

input:focus, select:focus, textarea:focus {
    border: 5px solid green;
}

#message{
    resize: vertical;
}

#sectionTitle{
    color: #282c2f;
}

#contactForm{
    margin: 10px auto;
    align-content: center;
    text-align: center;
    width: 50%;
}

#fieldContact{

}

label{
    font-family: gtaFont, serif;
    font-size: 25px;
}
#rem{
    display: none;
}

@media only screen and (max-width: 730px) {
    #contactForm {
        width: 95%;
    }

    #sectionTitle{
        font-size: 25px;
    }

    #rem{
        display: inline;
    }
}