#sliderLogo{
    position: absolute;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slider {
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    border-bottom-width: 5px;
    border-bottom-color: #282c2f;
    border-bottom-style: solid;
    margin-bottom: 0;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

.articles_main_title{
    font-size: 45px;
    text-align: center;
    color: #282c2f;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.css_validator{
    position: absolute;
    float: right;
    right: 10px;
    bottom: 0px;
}

.articles {
    width: 90%;
    margin: 50px auto;
}

.article {
    position: relative;
    width: 25%;
    background: white;
    border: 1px solid #282c2f;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.article_header {
    text-align: center;
    padding: 50px 10px;
    background-image: url("../Images/article_background.jpg");
    background-size: 100% 100%;
    font-size: 30px;
    color: #282c2f;
    margin: 0;
}

.article_body {
    padding: 20px 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.article_text{
    text-align: justify;
}

.article_body {
    display: block;
}

.more_info_button{
    position: absolute;
    width: 95%;
    display: block;
    bottom: 5px;
    color: white;
    text-align: center;
    margin-top: 50px;
    text-decoration: none;
    padding: 10px 5px;
    background-color: #282c2f;
    font-size: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s;
}

.more_info_button:hover{
    color: yellowgreen;
}

@media only screen and (max-width: 990px) {
    .article {
        width: 40%;
    }
}

@media only screen and (max-width: 620px) {
    .articles {
        width: 100%;
    }

    .article {
        width: 80%;
    }
}
